.Rproj.user
.Rhistory
.RData
.Ruserdata
files
db/food.sqlite
db/tracker.txt
dicts/.DS_Store
files/Australia-Beverages.csv
files/Australia-Breakfasts.csv
files/Australia-Canned&foods.csv
files/Australia-Cocoa&and&its&products.csv
files/Australia-Condiments.csv
files/Australia-Dairies.csv
files/Australia-Flatbreads.csv
files/Australia-Frozen&foods.csv
files/Australia-Sauces.csv
files/Australia-Snacks.csv
files/Australia-Spreads.csv
files/Austria-Beverages.csv
files/Austria-Breakfasts.csv
files/Austria-Canned&foods.csv
files/Austria-Cocoa&and&its&products.csv
files/Austria-Condiments.csv
files/Austria-Dairies.csv
files/Austria-Flatbreads.csv
files/Austria-Frozen&foods.csv
files/Austria-Sauces.csv
files/Austria-Snacks.csv
files/Austria-Spreads.csv
files/Belgium-Beverages.csv
files/Belgium-Breakfasts.csv
files/Belgium-Canned&foods.csv
files/Belgium-Cocoa&and&its&products.csv
files/Belgium-Condiments.csv
files/Belgium-Dairies.csv
files/Belgium-Flatbreads.csv
files/Belgium-Frozen&foods.csv
files/Belgium-Sauces.csv
files/Belgium-Snacks.csv
files/Belgium-Spreads.csv
files/Czechia-Beverages.csv
files/Czechia-Breakfasts.csv
files/Czechia-Canned&foods.csv
files/Czechia-Cocoa&and&its&products.csv
files/Czechia-Condiments.csv
files/Czechia-Dairies.csv
files/Czechia-Flatbreads.csv
files/Czechia-Frozen&foods.csv
files/Czechia-Sauces.csv
files/Czechia-Snacks.csv
files/Czechia-Spreads.csv
files/Denmark-Beverages.csv
files/Denmark-Breakfasts.csv
files/Denmark-Canned&foods.csv
files/Denmark-Cocoa&and&its&products.csv
files/Denmark-Condiments.csv
files/Denmark-Dairies.csv
files/Denmark-Flatbreads.csv
files/Denmark-Frozen&foods.csv
files/Denmark-Sauces.csv
files/Denmark-Snacks.csv
files/Denmark-Spreads.csv
files/Germany-Beverages.csv
files/Germany-Breakfasts.csv
files/Germany-Canned&foods.csv
files/Germany-Cocoa&and&its&products.csv
files/Germany-Condiments.csv
files/Germany-Dairies.csv
files/Germany-Flatbreads.csv
files/Germany-Frozen&foods.csv
files/Germany-Sauces.csv
files/Germany-Snacks.csv
files/Germany-Spreads.csv
files/Greece-Beverages.csv
files/Greece-Breakfasts.csv
files/Greece-Canned&foods.csv
files/Greece-Cocoa&and&its&products.csv
files/Greece-Condiments.csv
files/Greece-Dairies.csv
files/Greece-Flatbreads.csv
files/Greece-Frozen&foods.csv
files/Greece-Sauces.csv
files/Greece-Snacks.csv
files/Greece-Spreads.csv
files/Ireland-Beverages.csv
files/Ireland-Breakfasts.csv
files/Ireland-Canned&foods.csv
files/Ireland-Cocoa&and&its&products.csv
files/Ireland-Condiments.csv
files/Ireland-Dairies.csv
files/Ireland-Flatbreads.csv
files/Ireland-Frozen&foods.csv
files/Ireland-Sauces.csv
files/Ireland-Snacks.csv
files/Ireland-Spreads.csv
files/Italy-Beverages.csv
files/Italy-Breakfasts.csv
files/Italy-Canned&foods.csv
files/Italy-Cocoa&and&its&products.csv
files/Italy-Condiments.csv
files/Italy-Dairies.csv
files/Italy-Flatbreads.csv
files/Italy-Frozen&foods.csv
files/Italy-Sauces.csv
files/Italy-Snacks.csv
files/Italy-Spreads.csv
files/Netherlands-Beverages.csv
files/Netherlands-Breakfasts.csv
files/Netherlands-Canned&foods.csv
files/Netherlands-Cocoa&and&its&products.csv
files/Netherlands-Condiments.csv
files/Netherlands-Dairies.csv
files/Netherlands-Flatbreads.csv
files/Netherlands-Frozen&foods.csv
files/Netherlands-Sauces.csv
files/Netherlands-Snacks.csv
files/Netherlands-Spreads.csv
files/Norway-Beverages.csv
files/Norway-Breakfasts.csv
files/Norway-Canned&foods.csv
files/Norway-Cocoa&and&its&products.csv
files/Norway-Condiments.csv
files/Norway-Dairies.csv
files/Norway-Flatbreads.csv
files/Norway-Frozen&foods.csv
files/Norway-Sauces.csv
files/Norway-Snacks.csv
files/Norway-Spreads.csv
files/Slovakia-Beverages.csv
files/Slovakia-Breakfasts.csv
files/Slovakia-Canned&foods.csv
files/Slovakia-Cocoa&and&its&products.csv
files/Slovakia-Condiments.csv
files/Slovakia-Dairies.csv
files/Slovakia-Flatbreads.csv
files/Slovakia-Frozen&foods.csv
files/Slovakia-Sauces.csv
files/Slovakia-Snacks.csv
files/Slovakia-Spreads.csv
files/Spain-Beverages.csv
files/Spain-Breakfasts.csv
files/Spain-Canned&foods.csv
files/Spain-Cocoa&and&its&products.csv
files/Spain-Condiments.csv
files/Spain-Dairies.csv
files/Spain-Flatbreads.csv
files/Spain-Frozen&foods.csv
files/Spain-Sauces.csv
files/Spain-Snacks.csv
files/Spain-Spreads.csv
files/Sweden-Beverages.csv
files/Sweden-Breakfasts.csv
files/Sweden-Canned&foods.csv
files/Sweden-Cocoa&and&its&products.csv
files/Sweden-Condiments.csv
files/Sweden-Dairies.csv
files/Sweden-Flatbreads.csv
files/Sweden-Frozen&foods.csv
files/Sweden-Sauces.csv
files/Sweden-Snacks.csv
files/Sweden-Spreads.csv
files/Switzerland-Beverages.csv
files/Switzerland-Breakfasts.csv
files/Switzerland-Canned&foods.csv
files/Switzerland-Cocoa&and&its&products.csv
files/Switzerland-Condiments.csv
files/Switzerland-Dairies.csv
files/Switzerland-Flatbreads.csv
files/Switzerland-Frozen&foods.csv
files/Switzerland-Sauces.csv
files/Switzerland-Snacks.csv
files/Switzerland-Spreads.csv
files/Australia-Beverages.csv
files/Australia-Breakfasts.csv
files/Australia-Canned&foods.csv
files/Australia-Cocoa&and&its&products.csv
files/Australia-Condiments.csv
files/Australia-Dairies.csv
files/Australia-Flatbreads.csv
files/Australia-Frozen&foods.csv
files/Australia-Sauces.csv
files/Australia-Snacks.csv
files/Australia-Spreads.csv
files/Austria-Beverages.csv
files/Austria-Breakfasts.csv
files/Austria-Canned&foods.csv
files/Austria-Cocoa&and&its&products.csv
files/Austria-Condiments.csv
files/Austria-Dairies.csv
files/Austria-Flatbreads.csv
files/Austria-Frozen&foods.csv
files/Austria-Sauces.csv
files/Austria-Snacks.csv
files/Austria-Spreads.csv
files/Belgium-Beverages.csv
files/Belgium-Breakfasts.csv
files/Belgium-Canned&foods.csv
files/Belgium-Cocoa&and&its&products.csv
files/Belgium-Condiments.csv
files/Belgium-Dairies.csv
files/Belgium-Flatbreads.csv
files/Belgium-Frozen&foods.csv
files/Belgium-Sauces.csv
files/Belgium-Snacks.csv
files/Belgium-Spreads.csv
files/Czechia-Beverages.csv
files/Czechia-Breakfasts.csv
files/Czechia-Canned&foods.csv
files/Czechia-Cocoa&and&its&products.csv
files/Czechia-Condiments.csv
files/Czechia-Dairies.csv
files/Czechia-Flatbreads.csv
files/Czechia-Frozen&foods.csv
files/Czechia-Sauces.csv
files/Czechia-Snacks.csv
files/Czechia-Spreads.csv
files/Denmark-Beverages.csv
files/Denmark-Breakfasts.csv
files/Denmark-Canned&foods.csv
files/Denmark-Cocoa&and&its&products.csv
files/Denmark-Condiments.csv
files/Denmark-Dairies.csv
files/Denmark-Flatbreads.csv
files/Denmark-Frozen&foods.csv
files/Denmark-Sauces.csv
files/Denmark-Snacks.csv
files/Denmark-Spreads.csv
files/Germany-Beverages.csv
files/Germany-Breakfasts.csv
files/Germany-Canned&foods.csv
files/Germany-Cocoa&and&its&products.csv
files/Germany-Condiments.csv
files/Germany-Dairies.csv
files/Germany-Flatbreads.csv
files/Germany-Frozen&foods.csv
files/Germany-Sauces.csv
files/Germany-Snacks.csv
files/Germany-Spreads.csv
files/Greece-Beverages.csv
files/Greece-Breakfasts.csv
files/Greece-Canned&foods.csv
files/Greece-Cocoa&and&its&products.csv
files/Greece-Condiments.csv
files/Greece-Dairies.csv
files/Greece-Flatbreads.csv
files/Greece-Frozen&foods.csv
files/Greece-Sauces.csv
files/Greece-Snacks.csv
files/Greece-Spreads.csv
files/Ireland-Beverages.csv
files/Ireland-Breakfasts.csv
files/Ireland-Canned&foods.csv
files/Ireland-Cocoa&and&its&products.csv
files/Ireland-Condiments.csv
files/Ireland-Dairies.csv
files/Ireland-Flatbreads.csv
files/Ireland-Frozen&foods.csv
files/Ireland-Sauces.csv
files/Ireland-Snacks.csv
files/Ireland-Spreads.csv
files/Italy-Beverages.csv
files/Italy-Breakfasts.csv
files/Italy-Canned&foods.csv
files/Italy-Cocoa&and&its&products.csv
files/Italy-Condiments.csv
files/Italy-Dairies.csv
files/Italy-Flatbreads.csv
files/Italy-Frozen&foods.csv
files/Italy-Sauces.csv
files/Italy-Snacks.csv
files/Italy-Spreads.csv
files/Netherlands-Beverages.csv
files/Netherlands-Breakfasts.csv
files/Netherlands-Canned&foods.csv
files/Netherlands-Cocoa&and&its&products.csv
files/Netherlands-Condiments.csv
files/Netherlands-Dairies.csv
files/Netherlands-Flatbreads.csv
files/Netherlands-Frozen&foods.csv
files/Netherlands-Sauces.csv
files/Netherlands-Snacks.csv
files/Netherlands-Spreads.csv
files/Norway-Beverages.csv
files/Norway-Breakfasts.csv
files/Norway-Canned&foods.csv
files/Norway-Cocoa&and&its&products.csv
files/Norway-Condiments.csv
files/Norway-Dairies.csv
files/Norway-Flatbreads.csv
files/Norway-Frozen&foods.csv
files/Norway-Sauces.csv
files/Norway-Snacks.csv
files/Norway-Spreads.csv
files/Slovakia-Beverages.csv
files/Slovakia-Breakfasts.csv
files/Slovakia-Canned&foods.csv
files/Slovakia-Cocoa&and&its&products.csv
files/Slovakia-Condiments.csv
files/Slovakia-Dairies.csv
files/Slovakia-Flatbreads.csv
files/Slovakia-Frozen&foods.csv
files/Slovakia-Sauces.csv
files/Slovakia-Snacks.csv
files/Slovakia-Spreads.csv
files/Spain-Beverages.csv
files/Spain-Breakfasts.csv
files/Spain-Canned&foods.csv
files/Spain-Cocoa&and&its&products.csv
files/Spain-Condiments.csv
files/Spain-Dairies.csv
files/Spain-Flatbreads.csv
files/Spain-Frozen&foods.csv
files/Spain-Sauces.csv
files/Spain-Snacks.csv
files/Spain-Spreads.csv
files/Sweden-Beverages.csv
files/Sweden-Breakfasts.csv
files/Sweden-Canned&foods.csv
files/Sweden-Cocoa&and&its&products.csv
files/Sweden-Condiments.csv
files/Sweden-Dairies.csv
files/Sweden-Flatbreads.csv
files/Sweden-Frozen&foods.csv
files/Sweden-Sauces.csv
files/Sweden-Snacks.csv
files/Sweden-Spreads.csv
files/Switzerland-Beverages.csv
files/Switzerland-Breakfasts.csv
files/Switzerland-Canned&foods.csv
files/Switzerland-Cocoa&and&its&products.csv
files/Switzerland-Condiments.csv
files/Switzerland-Dairies.csv
files/Switzerland-Flatbreads.csv
files/Switzerland-Frozen&foods.csv
files/Switzerland-Sauces.csv
files/Switzerland-Snacks.csv
files/Switzerland-Spreads.csv
.write-test-b9abfcac-6226-4782-b4b2-af3478c9a55a
